#!/bin/env sh

## Environment variables set everywhere
# XSESSION is set in /etc/env.d/90xsession
# /etc/env.d /etc/environment.d/10-gentoo-env.conf

export PATH=${PATH}:"${HOME}/.local/bin"

## ZSH
export ZDOTDIR=$HOME/.config/zsh

## XDG paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_DOCUMENTS_DIR=$HOME/src
export XDG_DOWNLOAD_DIR=$HOME/tmp
export XDG_MUSIC_DIR=$HOME/mus
export XDG_PICTURES_DIR=$HOME/img
export XDG_DESKTOP_DIR=$HOME

## Default programs
export EDITOR="nvim"
# export VISUAL="nuke"
export VISUAL="nvim"
export READER="zathura"
export TERMINAL="st-256color"
export TERM="st-256color"
export BROWSER="librewolf"
export VIDEO="mpv"
export COLORTERM="truecolor"
export OPENER="xdg-open"
export PAGER="less" # nvim (only for man)
export WM="dwm"

## QT themes
export QT_QPA_PLATFORMTHEME=kvantum
export QT_FONT_DPI=101 # font was way too big in musescore

export NNN_OPTS="e"
# -e, open text files in $VISUAL (else $EDITOR, fallback vi) [preferably CLI]
